.container{
    display: flex;
    height: 100vh;
}

.left{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right--arrow{
    margin-left: 50px;
    font-size: 100px;
    cursor: pointer;
}

