.calculator {
  width: 500px;
  height: 501.4px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.calculatorTitle {
  background: chocolate;
  color: white;
  border-radius: 10px 10px 0 0;
  text-align: right;

  
}
.calculatorTitle h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-weight: 100;
  overflow-x: auto;
}

.calculatorButtons {
  box-sizing: border-box;
  position: absolute;
  top: 13px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.result {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
button {
  border: none;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.operator {
  background: gray;
  color: white;
  font-size: 30px;
}
.reset {
  background: red;
  color: white;
}

button:hover {
  background: pink;
}
.reset:hover {
  background: lightcoral;
}
.result {
  background: green;
}
.result:hover {
  background: lightgreen;
}

.left__upDown{
  margin: 2px;
  display: flex;
  background-color: white;
  height: 13px;
  justify-content: center;
}

.left__upDown i{
  color: black;
  margin-left: 2px;
}
.bigger{
  background-color: rgb(210, 105, 30, 0.8);
  animation: play 1s linear 1 normal both running;
}

.smaller{
  background-color: rgb(210, 105, 30, 0.8);
  animation: tersPlay 1s linear 1 normal both running;
}

.active{
  /* display: none!important; */
  animation: opacityRate 1s linear 1 normal both running;
}

.pasif{
  /* display: none!important; */
  animation: opacityRateReverse 1s linear 1 normal both running;
}


@keyframes play{
  0%{
    height: 0px;
  }
  100%{
    height: 387.2px;
  }
}

@keyframes tersPlay{
  0%{
    height: 387.2px;
  }
  100%{
    height: 0px;
  }
}
@keyframes opacityRate{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes opacityRateReverse{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.calculatorBottom{
  position: relative;
}
.calculatorBottomTop{
  position: absolute;
  width: 100%;
  z-index: 2;
}

.rotate{
  animation: rototeAnimasyon 1s linear 1 normal both running;
}
.reverseRotate{
  animation: reverseRototeAnimasyon 1s linear 1 normal both running;
}

@keyframes rototeAnimasyon{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(180deg);
  }
}

@keyframes reverseRototeAnimasyon{
  0%{
    transform:rotate(180deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

.left__history{
  overflow-y: scroll;
}

